@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.navBar {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 130px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Default size */
  height: 100px; /* Default size */
}

/* Adjust logo size on smaller screens */
@media (max-width: 640px) { /* Tailwind's 'sm' breakpoint */
  .logoWrapper {
    width: 60px;
    height: 50px;
  }
}

/* Adjustments for the nav bar items for smaller screens */
.navItem {
  display: block;
  padding: 8px 16px;
  font-size: 1.25rem; /* Default size */
}

@media (max-width: 640px) {
  .navItem {
    font-size: 1rem; /* Smaller text on mobile */
  }
}